/*

Break points

key - CSS Media Query - Applies - Classname
None - @media screen and (min-width: 35.5em) - >= 320px - none
None - None - Always - .pure-u-*
sm - @media screen and (min-width: 35.5em) - >= 568px - .pure-u-sm-*
md - @media screen and (min-width: 48em) - >= 768px - .pure-u-md-*
lg - @media screen and (min-width: 64em) - >= 1024px - .pure-u-lg-*
xl - @media screen and (min-width: 80em) - >= 1280px - .pure-u-xl-*

*/

/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:before,.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/

/* Font and size declarations */

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Open Sans', sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	/* to stop Chrome from rending text too big on first load */
	font-size:14px;
}

h1 {
	font-size:24px;
	font-size:2.4rem;
}

h2 {
	font-size:18px;
	font-size:1.8rem;
}





/* General */

html .pure-g {
	font-family: inherit;
}

html {
	background:url('/images/bg.png') repeat left top;
}

body {
	background:#F0F0F0;
	color:#333;
	max-width:1200px;
	margin:20px auto;
	position:relative;
	border-radius:10px;
	padding:10px;
}

p {
	margin:20px 0;
}

a {
	color:#004A92;
}

h1 {
	color:#004A92;
	font-weight:600;
}

h2 {
	color:#004A92;
	font-weight:600;
	margin:0 0 20px 0;
}

li {
	padding-bottom:10px;
}

#sidebar {
	padding-left:10px;
}

.align_left {
	float:left;
	margin:0 20px 20px 0;
}

.align_right {
	float:right;
	margin:0 0 20px 20px;
}








/* Rows and blocks */

.pane {
	border:1px solid #C0C0C0;
	border-radius:5px;
	margin-bottom:10px;
	background-color:#fff;
}

.prs-logo {
    text-align: center;
}

.prs-logo img {
    max-width: 75%;
    margin: 0 auto;
}

.block {
	padding:20px;
}

.block p:first-child {
	margin-top:0;
}

.block h2:first-child {
	margin-top:0;
}

.block h1:first-child {
	margin-top:0;
}

.row {
	clear:both;
}







/* Header */

header {
	background:#eff7ff;
	position:relative;
	margin-bottom:10px;
}

header.pane {
	background-color:#eff7ff;
}

header #logo_link {
	display:block;
	margin:20px;
}

nav {
	clear:both;
	float:right;
	margin:0 10px 10px 0;
}

nav a.pure-button {
	padding:15px 20px;
	margin-left:10px;
	border:1px solid #eff7ff;
	border-radius:5px;
	font-weight:bold;
	background:#004A92;
	color:#fff;
}

nav a.active {
	background:#002a53;
}

nav a {
	float:left;
}

a span.menu_icon {
	background:url(/images/menu-button.png) no-repeat right 50%;
	width:18px;
	height:12px;
	display:block;
	position: absolute;
	right:10px;
	top:19px;
}

ul#dropdown_mobile,
ul#mobile_link {
	display:none;
	clear:both;
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	z-index:100;
	background:#f16527;
}

#dropdown_mobile li,
#mobile_link li {
	padding:0;
	position:relative;
}

#dropdown_mobile a,
#mobile_link a {
	padding:1em;
	display:block;
	text-align:left;
	border-top:1px solid #F0F0F0;
	text-decoration:none;
	color:#fff;
}

#mobile_link a {
	padding:1em 2.5em 1em 1em;
	text-align:right;
}

#dropdown_mobile a:hover,
#dropdown_mobile a:focus,
#dropdown_mobile a:active
#mobile_link a:hover,
#mobile_link a:focus,
#mobile_link a:active {
	background:#004A92;
	color:#fff;
}





/* Footer */

footer {
	text-align:center;
}












/* Forms */
















@media screen and (max-width: 767px) {

	#sidebar {
		padding-left:0;
	}

	nav#desktop {
		display:none !important;
	}

	ul#mobile_link {
		display:block !important;
	}

}



@media screen and (max-width: 567px) {



}